.headtext__cormorant {
    margin-bottom: '3rem';
}

 .p__cormorant {
    color: '#DCCA87';
    margin: '2rem 0';
}

 .custom__button {
    margin-top: '2rem ';
}

.app__wrapper_img img {
    width: 629px;
    height: 942px;
    left: 656px;
    margin-top: 3rem;

}